:root{
  --background-color: rgba(91,121,137, 0.1);
  --background-secondary-color: rgba(91,121,137, 0.6);
  --shadow:rgba(240,239,239, 0.1);
}




  .start-rotation {
    animation: start-rotation 1s linear infinite;
  }

  @keyframes start-rotation{
      100% {
        transform: rotate(360deg);
      }
  }

  .stop-rotation{
      animation-play-state: paused;
  } 


body{text-align:center;}
#wheel{
  display:inline-block;
  position:relative;
  overflow:hidden;
  margin-bottom: 1rem;
}
#wheel:after{
  content:"";
  background:red;
  border:2px solid white;
  position:absolute;
  top:-7px;
  left:50%;
  width:10px;
  height:10px;
  margin-left:-7px;
  transform: rotate(45deg)
}

/* #canvas{
  width: 100%;
  
} */

.container {
  text-align: center;
  background: var(--background-color);
  width: 100vw;
  /* height: 100vh; */
  padding: 1rem;
}

.wheel-container{
  position: relative; 
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

#players-list ul{
  list-style: none;
  margin:0;
  padding: 0;
}


#players-list li{
  list-style: none;
  margin:0;
  padding: 0 1.2rem 0 0.5rem;
  min-height: 3rem;
}

.custom-input-group{
  border: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  min-height: 4rem;
  border-radius: 0.5rem;
}
#input-name{
  border:0;
  height: 95%;
  border-radius: 0.5rem;
  flex-basis: 80%;
}
.plus-box{
  height: 2em;
  border-radius: 0.5rem;
  flex-basis:10%;
  text-align: center;
  background: var(--background-color);
  position: relative;
  box-shadow: 0.2em 0.2em 0.2em #9999;
}

.plus-icon{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}


.my-li{
  background: white;
  border-radius: 0.5rem;
}